Source: ros-humble-hebi-cpp-api
Section: misc
Priority: optional
Maintainer: Chris Bollinger <chris@hebirobotics.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: http://docs.hebi.us/tools.html#cpp-api
Standards-Version: 3.9.2

Package: ros-humble-hebi-cpp-api
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ros-workspace
Description: A ROS 2 package providing access to the HEBI C++ API.
